<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h2 class="card-title">{{place.name}}</h2>
        <form action="" method="post">
        <input id="id" type="hidden" name="postId" value="{{place.id}}">
        <input id="longitud" type="hidden" name="longitud" value="{{place.location.coordinates.[0]}}">
        <input id="latitud" type="hidden" name="latitud" value="{{place.location.coordinates.[1]}}">
        </form>
        <p class="card-text">{{place.type}}</p>
        <a href="/lugares/editar/{{place._id}}">
            Editar
        </a>
        </br>
        <a href="/lugares/borrar/{{place._id}}">
            Delete
        </a>
        </br>
        <a href="/lugares">Volver a la lista</a>
    </div>

</div>

<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/detalles.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABCp6qzvgu9zpOrtrlgG9p8wt0Rh6bkuA&callback=initMap"></script>
