
<h1>Listado de Lugares</h1>
<ul>
  {{#each allPlaces}}
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><li>{{name}}</li></h5>
                <p class="card-text">{{type}}</p>
                  <a class="btn btn-primary" href="/lugares/editar/{{_id}}">Editar</a>
                      </br>
                  <a class="btn btn-primary" href="/lugares/borrar/{{_id}}">Delete</a>
                      </br>
                  <a class="btn btn-primary" href="/lugares/detalles/{{_id}}">Ver detalles</a>
              </div>
            </div>
          </div>
 {{/each}}
</ul>



